.containers {
  .search-box {
    .my-form {
      display: flex;
      flex-wrap: wrap;
      .ant-form-item {
        margin-right: 20px;
        width: 250px;
      }
    }
  }

  .btn-box {
    height: 40px;
    margin-bottom: 20px;

    .btn-right {
      .anticon {
        font-size: 16px;
        margin-left: 20px;
      }
    }
  }

  .info-box {
    margin-bottom: 10px;
    .info {
      height: 34px;
      width: 100%;
    }
  }

  .table-area {
    margin-bottom: 20px;
  }
}
